In [34]:
import pandas as pd

In [35]:
x = !ls Precios/

In [36]:
x

['Precio_Bolsa_Nacional_($kwh)_1995.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_1996.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_1997.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_1998.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_1999.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2000.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2001.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2002.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2003.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2004.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2005.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2006.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2007.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2008.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2009.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2010.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2011.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2012.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2013.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2014.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2015.xlsx',
 'Precio_Bolsa_Nacional_($kwh)_2016.xls',
 'Precio_Bolsa_Nacional_($kwh)_2017.xls',
 'Precio_Bolsa_Nacional_($kwh)_2018.xls']

In [37]:
def leer_precios(filename):
    for k in range(10):
        df = pd.read_excel(filename,
                           skiprows = k,
                           usecols = list(range(26)))
        if df.iloc[0,0] == 'Fecha':
            df = pd.read_excel(filename,
                               skiprows = k+1,
                               usecols = list(range(26)))
            break
            
    return(df)

In [45]:
filenames = !ls Precios/
dfs = []
for filename in filenames:
    dfs.append(leer_precios("Precios/"+filename))
dfs = pd.concat(dfs, sort=True)
dfs.size

218634

In [47]:
dfs.shape

(8409, 26)

In [49]:
# dfs

In [50]:
pd.melt(dfs, id_vars='Fecha')

             Fecha variable  value
0       1995-07-20        0    NaN
1       1995-07-21        0  1.073
2       1995-07-22        0  1.073
3       1995-07-23        0  1.073
4       1995-07-24        0      1
5       1995-07-25        0   0.99
6       1995-07-26        0    0.5
7       1995-07-27        0    0.5
8       1995-07-28        0      0
9       1995-07-29        0      1
10      1995-07-30        0  1.072
11      1995-07-31        0      0
12      1995-08-01        0      0
13      1995-08-02        0  1.073
14      1995-08-03        0  1.073
15      1995-08-04        0  1.073
16      1995-08-05        0      2
17      1995-08-06        0      3
18      1995-08-07        0      3
19      1995-08-08        0      3
20      1995-08-09        0     10
21      1995-08-10        0     18
22      1995-08-11        0     12
23      1995-08-12        0     30
24      1995-08-13        0     35
25      1995-08-14        0     17
26      1995-08-15        0  1.074
27      1995-08-16        0  1.074
28      1995-08-17        0      1
29      1995-08-18        0  1.075
...            ...      ...    ...
210195  2018-04-06  Version    TXR
210196  2018-04-07  Version    TXR
210197  2018-04-08  Version    TXR
210198  2018-04-09  Version    TXR
210199  2018-04-10  Version    TXR
210200  2018-04-11  Version    TXR
210201  2018-04-12  Version    TXR
210202  2018-04-13  Version    TXR
210203  2018-04-14  Version    TXR
210204  2018-04-15  Version    TXR
210205  2018-04-16  Version    TXR
210206  2018-04-17  Version    TXR
210207  2018-04-18  Version    TXR
210208  2018-04-19  Version    TXR
210209  2018-04-20  Version    TXR
210210  2018-04-21  Version    TXR
210211  2018-04-22  Version    TXR
210212  2018-04-23  Version    TXR
210213  2018-04-24  Version    TXR
210214  2018-04-25  Version    TXR
210215  2018-04-26  Version    TXR
210216  2018-04-27  Version    TXR
210217  2018-04-28  Version    TXR
210218  2018-04-29  Version    TXR
210219  2018-04-30  Version    TXR
210220  2018-05-01  Version    TX2
210221  2018-05-02  Version    TX2
210222  2018-05-03  Version    TX1
210223  2018-05-04  Version    TX1
210224  2018-05-05  Version    TX1

[210225 rows x 3 columns]